<div class="container">
  <div class="card">
    <div class="row">
      <div class="col-md-12" *ngIf="project">
        <div class="card-user">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <div class="d-flex h-100">
                  <span class="justify-content-center align-self-center">
                    <img
                      class="avatar border-gray proimg ml-5"
                      src="https://ui-avatars.com/api/?background=random&size=80&name={{
                        project.name
                      }}"
                    />
                  </span>
                </div>
              </div>
              <div class="col-md-9">
                <h2 class="title mt-4">
                  {{ project.name }}
                </h2>
                <p>{{ project.description }}</p>
                <button
                  type="button"
                  class="btn complete btn-sm"
                  [class]="project.status"
                >
                  {{ project.status }}
                </button>
                <p class="text-left">
                  From
                  {{ moment(project.start_date, "YYYY-MM-DD").format("ll") }}
                  to end
                  {{ moment(project.due_date, "YYYY-MM-DD").format("ll") }}
                </p>
                <span *ngIf="project.users as user">
                  Student
                  <span style="font-weight: bold; color: #333"
                    >@{{ user.name }}</span
                  >
                  <span class="ml-5 mr-5">
                    Tech :
                    <b style="color: orange"> #{{ project.technology }}</b>
                  </span>
                  <span class="ml-4"> ({{ user.email }})</span>
                  <br />
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="_hr_bt" />
    <div class="container _hr_cn">
      <div class="row">
        <div class="col-md-12">
          <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1">
              <a ngbNavLink>Tasks</a>
              <ng-template ngbNavContent>
                <div class="table-responsive">
                  <table class="table table-hover" id="dataTable">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th width="70%">Title</th>
                        <th>Priority</th>
                        <th>Status</th>
                        <th>#</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let task of tasks" (click)="setTask(task)">
                        <td>{{ task.id }}</td>
                        <td scope="row">{{ task.title }}</td>
                        <td>
                          <span
                            class="badge badge-pill ml-2"
                            style="text-transform: uppercase"
                            [class]="task.priority"
                            >{{ task.priority }}</span
                          >
                        </td>
                        <td>{{ task.status }}</td>
                        <td>
                          <button
                            type="button"
                            class="btn btn-outline-danger btn-sm"
                            (click)="removeTask(task.id)"
                          >
                            X
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <form class="row" [formGroup]="taskForm">
                  <div class="col-md-12">
                    <div class="form-row">
                      <div class="form-group col-6">
                        <label for="description">Title</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Title"
                          formControlName="title"
                        />
                      </div>
                      <div class="form-group col-2">
                        <label for="priority">Priority</label>
                        <select
                          id="priority"
                          name="priority"
                          class="form-control"
                          formControlName="priority"
                        >
                          <option selected>Low</option>
                          <option>High</option>
                          <option>Medium</option>
                          <option>Urgent</option>
                        </select>
                      </div>
                      <div class="form-group col-2">
                        <label for="status">Status</label>
                        <select
                          id="status"
                          name="status"
                          class="form-control"
                          formControlName="status"
                        >
                          <option selected>Open</option>
                          <option>Completed</option>
                          <option>Pending</option>
                        </select>
                      </div>
                      <div class="form-group col-2">
                        <button
                          type="submit"
                          class="btn btn-outline-primary mt-4"
                          (click)="saveTask()"
                        >
                          Save
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink>Files</a>
              <ng-template ngbNavContent>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>File</th>
                        <th>Type</th>
                        <th>Size</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tfoot>
                      <th>File</th>
                      <th>Type</th>
                      <th>Size</th>
                      <th></th>
                    </tfoot>
                    <tbody>
                      <tr *ngFor="let card of [1, 2, 3, 4]">
                        <td scope="row">File1</td>
                        <td>Zip</td>
                        <td>2mb</td>
                        <td>
                          <button type="button" class="btn btn-outline-primary">
                            Download
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="hero is-fullheight">
                  <div class="hero-body">
                    <div class="container">
                      <div class="columns is-multiline">
                        <div class="column is-6 is-offset-3">
                          <div class="upload-box">
                            <div class="upload-box-content">
                              <div
                                class="drop-container"
                                ngFileDrop
                                [options]="options"
                                (uploadOutput)="onUploadOutput($event)"
                                [uploadInput]="uploadInput"
                              >
                                <p>
                                  Drag files here or
                                  <label class="upload-button">
                                    <input
                                      type="file"
                                      ngFileSelect
                                      [options]="options"
                                      (uploadOutput)="onUploadOutput($event)"
                                      [uploadInput]="uploadInput"
                                      multiple
                                      class="form-control"
                                    />
                                    browse
                                  </label>
                                  to upload.
                                </p>
                              </div>
                              <div
                                class="upload-item"
                                *ngFor="let f of files; let i = index"
                              >
                                <div class="upload-item-content">
                                  <div class="filename">
                                    <div class="filename-left">
                                      <i class="ionicon ion-ios-copy"></i>
                                      <span>{{ f.name }}</span>
                                    </div>
                                    <div class="filename-right">
                                      <i
                                        class="ionicon ion-close-round"
                                        (click)="cancelUpload(f.id)"
                                      ></i>
                                    </div>
                                  </div>
                                  <div class="progress-content">
                                    <div class="progress">
                                      <span
                                        class="bar"
                                        [style.width]="
                                          f?.progress?.data?.percentage + '%'
                                        "
                                        [class.is-done]="
                                          f?.progress?.data?.percentage === 100
                                        "
                                      ></span>
                                    </div>
                                  </div>
                                  <div class="progress-text-content">
                                    <span
                                      class="progress-text"
                                      [class.is-done]="
                                        f?.progress?.data?.percentage === 100
                                      "
                                    >
                                      <span
                                        >{{ f.progress?.data?.percentage }}%
                                      </span>
                                      <span
                                        *ngIf="
                                          f.progress?.data?.percentage !== 100
                                        "
                                        >Uploading...</span
                                      >
                                      <span
                                        *ngIf="
                                          f.progress?.data?.percentage === 100
                                        "
                                        >Done</span
                                      >
                                    </span>
                                    <span
                                      class="speed-and-eta-text"
                                      *ngIf="
                                        f.progress?.data?.percentage !== 0 &&
                                        f.progress?.data?.percentage !== 100
                                      "
                                    >
                                      <span
                                        >{{ f.progress?.data?.speedHuman }}
                                      </span>
                                      <span
                                        >ETA
                                        {{ f.progress?.data?.etaHuman }}</span
                                      >
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
          </ul>

          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
