<div class="container">
  <div class="row">
    <div class="col-md-9 offset-md-1">
      <div class="card card-user">
        <div class="image">
          <img src="assets/img/damir-bosnjak.jpg" alt="..." />
        </div>
        <div class="card-body" style="min-height: 0px">
          <div class="author">
            <a href="#">
              <img
                class="avatar border-gray"
                src="assets/img/mike.jpg"
                alt="..."
                *ngIf="!imgURL"
              />
              <img
                class="avatar border-gray"
                [src]="imgURL"
                alt=""
                *ngIf="imgURL"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9 offset-md-1">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title" *ngIf="userId">Edit Profile</h5>
          <h5 class="card-title" *ngIf="!userId">Create Profile</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="usersForm">
            <div class="container">
              <div class="row">
                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label>Full Name</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Full Name"
                      formControlName="name"
                    />
                  </div>
                </div>
                <div class="col-md-6 pl-1">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                      formControlName="email"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="container" formGroupName="profiles">
              <div class="row">
                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label>Phone Number</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Phone Number"
                      formControlName="phone"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 pr-1">
                  <div class="form-group">
                    <label>College Name</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="College Name"
                      formControlName="college_name"
                    />
                  </div>
                </div>

                <div class="col-md-4 px-1">
                  <div class="form-group">
                    <label>Qualification</label>

                    <select
                      class="custom-select mr-sm-2"
                      id="inlineFormCustomSelect"
                      formControlName="qualification"
                    >
                      <option selected>Choose...</option>
                      <option value="MCA">M.C.A</option>
                      <option value="MscIT">M.Sc (IT & CA)</option>
                      <option value="BscIT">B.Sc (IT & CA)</option>
                      <option value="BCA">B.C.A</option>
                      <option value="CS">C.S</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      formControlName="gender"
                      id="inlineRadio1"
                      value="Male"
                    />
                    <label for="inlineRadio1">Male</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      formControlName="gender"
                      id="inlineRadio2"
                      value="Female"
                    />
                    <label for="inlineRadio2">Female</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Address</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Home Address"
                      formControlName="address"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 pr-1">
                  <div class="form-group">
                    <label>Semester</label>

                    <select
                      class="custom-select mr-sm-2"
                      id="inlineFormCustomSelect"
                      formControlName="semester"
                    >
                      <option selected>Choose...</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                      <option value="4">Four</option>
                      <option value="5">Five</option>
                      <option value="6">Six</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4 px-1">
                  <div class="form-group">
                    <label>Status</label>
                    <select
                      class="custom-select mr-sm-2"
                      id="inlineFormCustomSelect"
                      formControlName="status"
                    >
                      <option selected>Choose...</option>
                      <option value="Active">Active</option>
                      <option value="Locked">Locked</option>
                      <option value="Archive">Archive</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="input-group mb-3">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="propic" />
                    <label class="custom-file-label" for="propic"
                      >Upload Profile Picture</label
                    >
                  </div>
                  <p *ngIf="messageImg" style="color: red">{{ messageImg }}</p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-group mb-3">
                  <div class="custom-file">
                    <input
                      type="file"
                      class="custom-file-input"
                      id="coverpic"
                    />
                    <label class="custom-file-label" for="coverpic"
                      >Upload Cover Photo</label
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button (click)="onSubmit()" class="btn btn-primary btn-round">
                  Save User
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
