<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4" style="margin-top: 150px">
      <div class="card card-user" style="background-color: #ffffff">
        <div class="card-header">
          <h5 class="card-title">Login</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email"
                    name="user.email"
                    [(ngModel)]="user.email"
                  />
                  <span *ngIf="message.email"
                    ><p *ngFor="let item of message.email" style="color: red">
                      {{ item }}
                    </p></span
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputPassword">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    name="user.password"
                    [(ngModel)]="user.password"
                  />
                  <span *ngIf="message.password"
                    ><p *ngFor="let item of message.email" style="color: red">
                      {{ item }}
                    </p></span
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button
                  type="button"
                  class="btn btn-primary btn-round"
                  (click)="login()"
                >
                  Login
                </button>
                <button type="submit" class="btn btn-default btn-round">
                  Cancle
                </button>
              </div>
            </div>
          </form>
          <h4>{{ message | json }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
