<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4" style="margin-top: 100px">
      <div class="logo">
        <a class="simple-text logo-normal logo_login">
          <div class="logo-image-normal">
            <img src="assets/img/logo.svg" />
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-user" style="background-color: #ffffff">
        <div class="card-header">
          <h5 class="card-title">Login</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="usersForm" (ngSubmit)="login()">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Email address</label>
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email"
                    formControlName="email"
                  />
                  <!-- <span *ngIf="message.email"
                    ><p *ngFor="let item of message.email" style="color: red">
                      {{ item }}
                    </p></span
                  > -->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Password</label>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    formControlName="password"
                  />
                  <!-- <span *ngIf="message.password"
                    ><p
                      *ngFor="let item of message.password"
                      style="color: red"
                    >
                      {{ item }}
                    </p></span
                  > -->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button type="submit" class="btn btn-primary btn-round">
                  Login
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- <h4>{{ message | json }}</h4> -->
</div>
