.Complete {
  background-color: #eefbe9cc;
}

.inprogress {
  background-color: rgba(231, 125, 116, 0.822);
  color: rgb(246, 47, 33);
  border-color: rgb(246, 33, 33);
}
.title:hover {
  color: orange;
}
.proimg {
  height: 75px;
  width: 75px;
  border-radius: 100%;
}
.Pending {
  background-color: rgb(206, 17, 17);
}
.Active {
  background-color: rgb(255, 179, 0);
}
.Archive {
  background-color: rgb(200, 200, 200);
}
.Completed {
  background-color: rgb(12, 158, 68);
}
.close_btn {
  padding: 9px;
  background-color: #fdf5f5;
  float: right;
  border-radius: 10px;
  cursor: pointer;
}
