.Complete {
  background-color: #eefbe9cc;
}

.inprogress {
  background-color: rgba(231, 125, 116, 0.822);
  color: rgb(246, 47, 33);
  border-color: rgb(246, 33, 33);
}

.proimg {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.Pending {
  background-color: blue;
}
.Active {
  background-color: rgb(255, 179, 0);
}
.Archive {
  background-color: rgb(200, 200, 200);
}
.Completed {
  background-color: rgb(38, 230, 255);
}
