<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button class="btn">Add +</button>
      <button class="btn btn-lg btn-outline-primary" (click)="open()">
        Launch demo modal
      </button>
    </div>
    <div class="col-md-4" *ngFor="let project of projects">
      <div class="card card-user">
        <div class="card-body">
          <button
            type="button"
            class="btn complete btn-sm"
            [class]="project.status"
          >
            {{ project.status }}
          </button>
          <span class="close_btn">
            <i
              class="nc-icon nc-simple-remove float-right text-danger"
              (click)="removeProjects(project)"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Delete"
            ></i>
          </span>
          <div class="author mt-2">
            <a href="#">
              <img
                class="avatar border-gray"
                src="assets/img/welcomhotel-dwarka.png"
                alt="..."
              />
              <h5 class="title">{{ project.name }}</h5>
            </a>
            <small> {{ project.description }} </small>
          </div>
          <p class="description text-center">
            Technology : {{ project.technology }}
          </p>
        </div>
        <div class="card-footer">
          <hr />
          <div class="button-container">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-6 ml-auto">
                <h5>
                  25
                  <br />
                  <small>Tasks</small>
                </h5>
              </div>
              <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                <h5>
                  15
                  <br />
                  <small>Completed</small>
                </h5>
              </div>
              <div class="col-lg-4 col-md-6 col-6 mr-auto">
                <h5>
                  10
                  <br />
                  <small>Days Left</small>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<pre>
    {{ projects | json }}
</pre>
