<div class="container">
  <div class="row">
    <div class="col-md-12 mb-2">
      <nav class="pull-left">
        <button
          class="btn"
          (click)="open({ mode: 'add', project: {} })"
          *ngIf="roleDisplay()"
        >
          Add +
        </button>
      </nav>
      <div class="pull-right">
        <form>
          <div class="input-group no-borde _searchr">
            <input
              type="text"
              value=""
              class="form-control _search"
              placeholder="Search..."
            />
            <div class="input-group-append _search">
              <div class="input-group-text">
                <i class="nc-icon nc-zoom-split"></i>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-4" *ngFor="let project of projects">
      <div class="card card-user">
        <div class="card-body">
          <button
            type="button"
            class="btn complete btn-sm"
            [class]="project.status"
          >
            {{ project.status }}
          </button>
          <span class="close_btn" (click)="removeProjects(project)">
            <i
              class="nc-icon nc-simple-remove float-right text-danger"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Delete"
            ></i>
          </span>
          <span
            class="edit_btn"
            (click)="open({ mode: 'edit', project: project })"
          >
            <i
              class="nc-icon nc-tap-01 float-right text-success"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Edit"
            ></i>
          </span>
          <div class="author mt-2">
            <span
              style="cursor: pointer"
              [routerLink]="['/projectoverview']"
              [queryParams]="{ id: project.id }"
            >
              <img
                class="avatar border-gray proimg"
                src="https://ui-avatars.com/api/?background=random&size=80&name={{
                  project.name
                }}"
                alt="..."
              />
              <h5 class="title">
                {{ project.name }}
              </h5>
              <span *ngIf="project.users as user">
                User
                <span style="font-weight: bold; color: #333"
                  >@{{ user.name }}</span
                >
                <br />
              </span>
            </span>
            <p>{{ project.description }}</p>
          </div>
          <p class="text-center">
            Tech : <b style="color: orange"> #{{ project.technology }}</b>
          </p>
          <p class="text-center">
            From
            {{ moment(project.start_date, "YYYY-MM-DD").format("ll") }}
            to end
            {{ moment(project.due_date, "YYYY-MM-DD").format("ll") }}
          </p>
        </div>
        <div class="card-footer">
          <hr />
          <div class="button-container">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-6 ml-auto">
                <h5>
                  25
                  <br />
                  <small>Tasks</small>
                </h5>
              </div>
              <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                <h5>
                  15
                  <br />
                  <small>Completed</small>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <pre>{{ projects | json }}</pre> -->
