<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-12 mb-2">
            <nav class="pull-left">
              <span class="h4 card-title mr-3">Users</span>
              <button
                class="btn btn-outline-secondary btn-sm"
                [routerLink]="['/user']"
              >
                Add +
              </button>
            </nav>
            <div class="pull-right">
              <form>
                <div class="input-group no-borde _searchr">
                  <input
                    type="text"
                    value=""
                    class="form-control _search"
                    placeholder="Search..."
                  />
                  <div class="input-group-append _search">
                    <div class="input-group-text">
                      <i class="nc-icon nc-zoom-split"></i>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- <button class="btn">Add New +</button> -->
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <th>#</th>
              <th>Name</th>
              <th>Address</th>
              <th>Semester</th>

              <th>College</th>
              <th>Qualification</th>
              <th>Status</th>

              <th class="text-right">Actions</th>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td width="60px">
                  <img
                    class="avatar border-gray proimg"
                    src="https://ui-avatars.com/api/?background=random&size=50&name={{
                      user.name
                    }}"
                  />
                </td>
                <td>
                  {{ user.name }}
                  <span
                    class="badge badge-pill badge-info ml-2"
                    style="text-transform: uppercase"
                    >{{ user.roles.slug }}</span
                  >
                  <br />
                  <p>
                    {{ user.email }} <br />
                    Mo. {{ _d(user, "phone") }}
                    <span class="badge badge-pill badge-light"
                      >({{ _d(user, "gender") }})</span
                    >
                  </p>
                </td>
                <td>{{ _d(user, "name") }} <br />{{ _d(user, "address") }}</td>
                <td>Sem - {{ _d(user, "semester") }}</td>
                <td>{{ _d(user, "college_name") }}</td>
                <!-- <td>{{ _d(user, "technology") }}</td> -->
                <td>{{ _d(user, "qualification") }}</td>
                <td>{{ _d(user, "status") }}</td>

                <td class="text-right">
                  <button
                    type="button"
                    class="btn btn-outline-info btn-sm mr-1"
                    [routerLink]="['/user']"
                    [queryParams]="{ id: user.id }"
                    routerLinkActive="router-link-active"
                  >
                    Edit
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-danger btn-sm"
                    (click)="removeUsers(user.id)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<pre>
  <!-- {{ users | json }} -->
</pre>
